# macOS metadata
.DS_Store

# Generated build output
**/build-*/
/Build/
**/build-vst3/

xcuserdata
*.RPP-bak
.idea/

*.ipch
*.db
*.suo
*/.vs
*.pem
mkcert*

NeuralAmpModeler/*.wav
NeuralAmpModeler/peaks/
